html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
  margin: 8px;
}

.btn {
  text-decoration: none;
  border-width: 3px;
  border-radius: 8px;
  padding: .4em;
  font-size: 1.125rem;
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-subtle {
  background-color: #666;
  border-color: #666;
}

.btn-ghost {
  background-color: #fff;
  border-color: #000;
  color: #000;
}

.btn-warning {
  background-color: #f33;
  border-color: #f33;
}

.btn-small {
  font-size: .875rem;
  padding: .3rem;
}

.btn-big {
  font-size: 1.5rem;
  padding: .75em;
}
